.threads-list {
  flex: 1;
  margin-top: 0;
  text-align: center;
  display: block;
  width: 100%;
  padding-top: 20px;
}

.threads-list ul {
  padding: 50px;
}

ul {
  margin: 0px;
  list-style: none;
  display: inline-block;
  font-size: 20px;
  width: 50%;
}

li {
  text-align: left;
  padding: 10px;
  border: 1px solid white;
}

.threads-list button {
  margin: 0px 5px;
  cursor: pointer;
}